<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="/css/contest.css" rel="stylesheet">
</head>

<body >
	<% include ./Layout/Header.ejs %>
	<div class="container-lg-fluid header py-4 shadow-sm">

		<div class="col-12   p-0  d-flex justify-content-around">
			<div class="col-md-7 col-8  text-left ">
				<h4 class="font-weight-bold  m-0 text-dark"><%= contest._Title %></h4><br>
				<span class="border   border-dark px-lg-3 px-2 py-1  mr-2 rounded"><%= contest._Status %></span>
				<span style="font-size: 14px;" class=""><span style="color:#aaa">by&nbsp;&nbsp;</span><a style="font-weight: 500" class="green" href="/userid/<%=contest._Owner._id %>"><%= contest._Owner._FirstName %></a></span>
			</div>
			<div class="col-lg-3 col-md-5  ml-0 pl-0 col-4 text-right">
				<h4 class="">$<%= contest._Price %></h4><br>
				<span style="font-size: 14px"><i class="fas px-1 green fa-check-circle"></i>Guaranteed</span>

			</div>


		</div>
		<div class="mt-5 container-lg-fluid mx-lg-5 px-lg-4 px-3">
			<div class="row d-flex justify-content-between">
				<div class="col-6 pr-0">
					<a href="#" style="font-weight: 400 ;border-bottom: 3px solid #42657B;" class=" font-weight-bold mr-lg-4 mr-2 py-1 Lead  ">Brief</a>
					<a href="/contestdesign/<%= contest._id %>" style="font-weight: 400 ;" class=" mr-lg-4 mr-2 font-weight-bold py-1 Lead  ">Designs <span class="font-weight-light" style="font-size: 13px;color:#aaa;">
						(<%= contest._Design.length %>)</span></a>
				</div>
				<div class="col-6 text-right">
				<span><%= helper(contest._EndDate).diff(date,'Days') %>&nbsp;Days left</span>
				</div>
			</div>

		</div>
	</div>

	<div class="container-fluid px-lg-5 px-3">
		<div class="col-12">
			<div class="row my-5">

				<nav class="col-3 d-none d-lg-block"  style="border-right: 2px solid #e5e5e5;" id="myScrollspy">
					<ul class="nav nav-pills nav-stacked text-center" data-offset-top="350" data-spy="affix">
						<div class="col-12 p-3 my-1  shadow-sm greenback rounded ">
						<li class="" ><a class="text-white " href="#backround ">Background information</a></li>
						</div>
						<div class="col-12 shadow-sm my-1 p-3">
						<li><a href="#visual">Visual style</a></li>
						</div>
						<div class="col-12 shadow-sm my-1 p-3">
						<li><a href="#content">Content Details</a></li>
						</div>
						<div class="col-12 shadow-sm my-1 p-3">
						<li><a href="#other">Other</a></li>
						</div>

					</ul>
				</nav>
				
				<div  class="col-lg-8 col-12 text-md-left px-lg-5 px-0">
					<div class="div" id="backround">
					<h4 class="text-dark">Background information</h4>
		
					<h5 class="mt-4 mb-2 text-dark">Description of the organization</h5>
					<p><%= contest._Desc_Of_Org %></p>
					<h5 class="mt-4 mb-2 text-dark">Industry</h5>
					<p><%= contest._Industry %></p>

					<hr class="mt-5">
					</div>
					<div class="div" id="visual">
						<h4 class="text-dark mt-5 mb-3">Visual style</h4>
						<h5 class="mt-4 mb-2 text-dark">Style/theme ideas</h5>
						<p><%= contest._Style %></p>
						<h5 class="mt-4 mb-2 text-dark">Inspirational websites</h5>
						<a href="" class="green"><%= contest._Inspiration %></a>
						<hr class="mt-5">
						
					</div>
					<div class="div" id="content">
						<h4 class="text-dark mt-5 mb-3">Content details</h4>
						<h5 class="mt-4 mb-2 text-dark">Page descriptions</h5>
						<p><%= contest._ContentDesc %>.</p>
						
						
					<hr class="mt-5">
					</div>
					<div class="div" id="other">
						<h4 class="text-dark mt-5 mb-3">Other</h4>
						<h5 class="mt-4 mb-2 text-dark">Other notes</h5>
						<p><%= contest._Other %></p>
						
						
					</div>
				</div>


			</div>
		</div>
	</div>




	<% include ./Layout/videocall.ejs %>

	<% include ./Layout/Footer.ejs %> 



	
</body>

</html>
