<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
<title>Profile</title>
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
    <script src="/js/portfolio.js">
    </script>
</head>


<body style="background-color: #e7ecf2;" class="">
    <% include ./Layout/Header.ejs %>
    <section class="my-4">
        <div class="container px-0">
            <div class="row ">
                <div class=" col-xl-3  col-lg-4 col-md-5 col-sm-10 col-xs-10">
                    <div class="card shadow  rounded">
                        <div class="card-body">
                            <div class="profile-card text-center">
                                <div class="thumb0xl member-thumb mb-1 center-block">
                                    <img src="<%= user._ProfilePic.path %><%= user._ProfilePic._FileName %>" class="profile-pic rounded-circle p-1  border border-muted"
                                        width="220" height="220">
                                </div>
                                <div>
                                    <h5 class="my-2 font-weight-bold">
                                        <%= user._FirstName %>&ensp;
                                        <%= user._LastName %>
                                    </h5>

                                </div>
                                <% if(user._Type==='Developer') { %>
                                <div class="text-center my-2">
                                    <span><i class="fas px-1 lead  text-warning fa-star"></i><span class="font-weight-bold lead">
                                            <%= user._Rating %></span>&nbsp;(<%= user._ProjectCompleted %>)</span>
                                </div>
                                <% } %>
                                <% if(currentUser) { %>
                                <% if(currentUser._id.toString()!==user._id.toString()) { %>
                                <a href="/privatechat/<%= user._id %>" class="btn px-4 mx-1 my-2 font-weight-bold shadow  greenbtn text-white">Message</a>

                                <% } %>
                                <% } %>
                                <button type="button" class="btn mx-1 px-4 my-2 text-white  font-weight-bold  border greenbtn  shadow">
                                    <%= user._Type %></button>


                                <ul class="list-reset pl-4 pl-lg-0 text-left mt-5">
                                    <li class="my-1 text-muted">
                                        <strong>Email:</strong>
                                        <span class="m-2">
                                            <%= user._Email %></span>
                                    </li>
                                    <li class=" my-2 text-muted">
                                        <strong>Mobile:</strong>
                                        <span class="m-1">
                                            <%= user._Mobile %></span>
                                    </li>

                                    <li class="my-2 text-muted">
                                        <strong>Location:</strong>
                                        <span class="m-1">
                                            <%= user._Location %></span>
                                    </li>

                                </ul>
                                <ul class="social-links list-inline mt-5">
                                    <li class="list-inline-item px-2">
                                        <a class="semi-bold-font " href="<%= user._Facebook %>" style="font-size:20px;">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item px-2">
                                        <a class="semi-bold-font " href="<%= user._Twitter %>" style="font-size:20px; color:#1dcaff;">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item px-2">
                                        <a class="semi-bold-font " href="<%= user._Google %>" style="font-size:20px; color: #f02e2e">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>


                        </div>
                    </div>





                </div>
                <div class="col-xl-9 col-lg-8 mt-4 mt-lg-0 mt-md-0 col-md-7 col-sm-10 col-xs-11" style="font-size: 14px;">
                    <div class="card shadow-lg rounded card-tabs ">
                        <div class="card-header font-weight-bold bg-white p-0 border-0">
                            <ul class="nav nav-tabs primary-tabs pl-5 m-0" role="tablist">
                                <li class="nav-item" role="tab">
                                    <a href="#ProfileAbout" class="nav-link active" data-toggle="tab" aria-expanded="true">About</a>
                                </li>
                                <li class="nav-item" role="tab">
                                    <a href="#Portfolio" class="nav-link " data-toggle="tab" aria-expanded="true">Portfolio</a>
                                </li>
                                <% if(currentUser) { %>
                                <% if(user._id.toString() === currentUser._id.toString()) { %>
                                <li class="nav-item" role="tab">
                                    <a href="/notification" class="nav-link">Notification</a>
                                </li>
                                <% } %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane  show active" aria-labelledby="ProfileAbout" role="tabpanel" id="ProfileAbout">
                                    <div class="profile-wrapper pt-4">
                                        <h5 class="card-title">Summary</h5>
                                        <p>
                                            <%= user._Description %>

                                        </p>
                                    </div>
                                    <div class="profile-wrapper pt-4">
                                        <h5 class="card-title">Basic Info</h5>
                                        <ul class="py-2">
                                            <li class="py-3">
                                                <span class="d-inline-block">
                                                    <strong>Born:</strong>

                                                </span>
                                                <span class="px-3">31 Decemver 1980</span>
                                            </li>
                                            <li class="py-3">
                                                <span class="d-inline-block">
                                                    <strong>Eperience :</strong>

                                                </span>
                                                <span class="px-3">3 year</span>
                                            </li>
                                            <li class="py-3">
                                                <span class="d-inline-block">
                                                    <strong>Education :</strong>

                                                </span>
                                                <span class="px-3">
                                                    <%= user._Education %></span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                                <div class="tab-pane " role="tabpanel" aria-labelledby="Portfolio" id="Portfolio">
                                    <div class="container-fluid px-1 mx-auto   ">
                                        <div class="row  mx-lg-auto my-4  ">
                                            <% for(var i=0 ; i<user._Portfolio.length;i++) { %>
                                            <div class="col-lg-3 col-md-4 col-sm-6 mx-auto  mx-lg-0 my-1 p-0">
                                                <div class="p-lg-2 mx-lg-">
                                                    <div class="card  shadow rounded">

                                                        <div class="card-body p-1">
                                                            <img src="<%= user._Portfolio[i]._Picture._path %><%= user._Portfolio[i]._Picture._FileName %>"
                                                                data-toggle="modal" width="100%" height="auto"
                                                                data-target="#Modal<%= user._Portfolio[i]._id %>" class="mx-auto  port-pic">

                                                            <!--***** MODEL ***-->
                                                            <div class="modal fade" id="Modal<%= user._Portfolio[i]._id %>"
                                                                tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <img src="/user/profile-pic/<%= user._ProfilePic._FileName %>"
                                                                                width="50" height="50" class="rounded-circle">
                                                                            <h5 class=" py-2 px-3 modal-title">
                                                                                Web Design
                                                                                <p class="text-muted" style="font-size:14px;font-weight: 400;">By&nbsp;
                                                                                    <a href="/userid/<%= user._Portfolio[i]._Owner._id %>"
                                                                                        class="font-weight-bold green-color">
                                                                                        <%= user._FirstName %>&nbsp;
                                                                                        <%= user._LastName %></a>&nbsp;on
                                                                                    <span>&nbsp;
                                                                                        <%= helper(user._Portfolio[i]._Date).format('ll'); %></span>
                                                                                </p>
                                                                            </h5>

                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <img src="<%= user._Portfolio[i]._Picture._path %><%= user._Portfolio[i]._Picture._FileName %>"
                                                                                width="100%" height="auto" class="img-fluid">
                                                                            <p class="py-2">

                                                                            </p>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>







                                                            <!--***** End of Model ***-->

                                                        </div>
                                                        <div class="clearfix">
                                                            <%	if(currentUser) { %>

                                                            <% var check=false %>
                                                            <%	for(var j=0;j<user._Portfolio[i]._Likes.length;j++) { %>


                                                            <%	if(user._Portfolio[i]._Likes[j].toString() == currentUser._id.toString()) { %>
                                                            <%	check=true %>
                                                            <input id="heart<%= user._Portfolio[i]._id %>" onclick="update(this,'l<%= user._Portfolio[i]._id %>','t<%= user._Portfolio[i]._id %>','<%= user._Portfolio[i]._id %>')"
                                                                class="input-hidden grid-font " checked type="checkbox" />
                                                            <label id="l<%= user._Portfolio[i]._id %>" for="heart<%= user._Portfolio[i]._id %>">
                                                                <i class="fas fa-heart px-2 pt-1"></i>
                                                            </label>

                                                            <%	 } } %>

                                                            <%	if(check===false) {%>
                                                            <input id="heart<%= user._Portfolio[i]._id %>" onclick="update(this,'l<%= user._Portfolio[i]._id %>','t<%= user._Portfolio[i]._id %>','<%= user._Portfolio[i]._id %>')"
                                                                class="input-hidden grid-font " type="checkbox" />
                                                            <label id="l<%= user._Portfolio[i]._id %>" for="heart<%= user._Portfolio[i]._id %>">
                                                                <i class="fas fa-heart px-2 pt-1"></i>
                                                            </label>
                                                            <% } } %>

                                                            <span id="t<%= user._Portfolio[i]._id %>" style="color:#aaa"
                                                                class=" mr-3 float-right pt-1">
                                                                <i class="fas fa-heart ">&nbsp;&nbsp;</i>
                                                                <%= user._Portfolio[i]._LikeCount %></span>
                                                        </div>
                                                    </div>
                                                    <div class="mt-2 px-1">
                                                        <img src="/user/profile-pic/<%= user._ProfilePic._FileName %>"
                                                            width="20" height="20">
                                                        <a href="/userid/<%= user._Portfolio[i]._Owner._id %>" style="color:#42657B;">
                                                            <strong>
                                                                <%= user._FirstName %>
                                                            </strong>
                                                        </a>
                                                    </div>

                                                </div>


                                            </div>




                                            <% } %>







                                        </div>


                                    </div>







                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>


    </section>

    <% include ./Layout/videocall.ejs %>
    <% include ./Layout/Footer.ejs %>

</body>

</html>